
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.logo {
    margin-top: 10px;
    margin-left: 38px;
    margin-bottom: 10px;
}

.menu {
    background-color: #faf9f8;
    border-bottom: 1px #979797 solid;
    border-top: 1px #979797 solid;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.menu_list {
    list-style: none;
    display: flex;
    margin: 15px 0;
    padding-left: 38px;
}

.menu_link {
    color: #333333;
    text-decoration: none;
    margin-right: 30px;
    font-size: 24px;
    text-align: left;
    line-height: 36px;
}

.menu_link:hover {
    text-decoration: underline;
}

.menu_link__active {
    color: #d0021b;
}


@media (max-width: 800px) {
    .logo {
        margin-left: 20px;
    }

    .menu_list {
        display: block;
        padding-left: 20px;
    }

    .menu_link {
        font-size:20px;
        line-height:25px;
    }
}