
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

ul.header-list {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 32px;
    list-style: none;
    background-color: rgb(250, 249, 248);
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 24px;
    text-align: left;
    display: flex;
    line-height: 36px;
}

.header-list>li>a {
    color: #333333;
    text-decoration: none;
    margin: 30px;
}

.header-list>li>a.selected {
    color: #d0021b;
}

.header-list>li>a:hover {
    text-decoration: underline;
}

.content {
    width: 100%
}

.wrapper {
    margin: 0 auto;
    width: 700px;
}

.caption {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    color: rgba(0, 0, 0, 0.84);
    line-height: 44px;
    margin: 0 0 11px
}

.text {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 33px;
    margin: 0 0 55px;
}

.image {
    display: block;
    width: 80%;
    margin: 0 auto
}

.code {
    background: rgb(240, 240, 240);
}

@media (max-width: 800px) {
    ul.header-list {
        display: block;
    }
    .wrapper {
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
    }
}
