/* Тут пиши основные стили */
.allFont {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.allFont .headerFont1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    margin-top: 55px;
    font-size:42px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
}

.allFont .headerFont2 {
    font-size:34px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:39px;
}

.allFont .textFont {
    margin-top: 10px;
    font-family:Georgia;
    font-size:21px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;
}

.codeFont {
    font-family: "Courier New", monospace;
    background-color: #f2f2f2;
}

@media (max-width: 800px) {
    ul {
        height: 250px;
    }

    li {
        display: block;
        margin-top: 10px;
    }

    h2, h1 {
        width: 300px;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 25px;
    }

    body {
        width: 300px;
    }

    img {
        width: 100px;
    }
}