/* Тут пиши основные стили */
.header_img{
    margin: 10px 30px;
}
.nav_menu{
    background-color:#faf9f8;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav_list{
    padding: 0px;
}

li{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:24px;
    color:#333333;
    text-align:left;
    line-height:36px;   
    display: inline;
    list-style: none;
    margin: 15px 30px;
}

.current{
    color: #d0021b;
}

.current:hover{
    text-decoration: underline;
}
li:hover{
    text-decoration: underline;
}

h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    margin: 55px auto 0;
    width: 700px;
    line-height: 44px;
    font-size: 42px;
    color: rgba(0,0,0,0.84);
}

h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    margin: 55px auto 0;
    width: 700px;
    line-height: 39px;
    font-size: 34px;
    color: rgba(0,0,0,0.84);
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    margin: 10px auto 0;
    font-size:21px;
    color:rgba(0,0,0,0.84);
    line-height:33px;
    width: 700px;
}

img {
    display: block;
    margin: 55px auto 0;
    object-fit: cover;
}

code {
    font-family: "Courier New", monospace;
    background-color: #faf9f8;
}
@media (max-width: 800px) {
    li{ 
        display: block;
        margin: 10px 20px;
        font-size: 20px;
        line-height: 25px;
    }

    h1{
        font-size: 26px;
        line-height: 28px;
    }

    p{
        font-size: 18px;
        line-height: 22px;
    }

    h2{
        font-size: 22px;
        line-height: 39px;
    }

    img{
        margin: 25px auto;
    }
}