.artem{
    text-align: left;
    margin: auto;
    width: 700px;
}
.header{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;

}
.text{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size:21px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;
}
.vanya{
    font-family: "Courier New", monospace;
    background-color: lightgrey;
}
.image{
    height: 923px;
}
.image1{
    height: 723px;
}
.logo{
    height: 64px;
    margin: 20px 10px;
}
.menu {
    list-style: none;
    border-top: solid 1px #333333;
    border-bottom: solid 1px #333333;
    padding: 20px 8px;
    background-color: #dddddd;
    margin-left: -10px;
    margin-right: -10px;
}
.menu li{
    display: inline-block;
    margin-left: 30px ;
    font-family:LucidaGrande;
    font-size:24px;
    color:#333333;
    text-align:left;
    line-height:36px;
}
.menuItem{
    text-decoration: none;
    color: #333333;
}
.menuItem:hover{
    text-decoration: underline;
}
.menuItem.current{
    color: red;
}
@media (max-width: 800px) {
    .artem{
        width: 520px;
        margin: 0px 20px;
    }
    .menu li{
        margin-left: 20px;
        display: block;
    }
    .image{
        height: 540px;
    }
    .image img{
        height: 100%;
        object-fit: cover;
    }
}
