/* Тут пиши основные стили */
nav img{
    width: 97px;
    margin: 10px auto 10px 38px;
}
header{
    padding: 0;
    margin: 0;
    background-color: #faf9f8;
    border-bottom: 1px #000000 solid;
    border-top: 1px #000000 solid;
}
header ul{
    list-style: none;
}
header li{
    cursor: url("responsive-design/2744EFD6-B878-4DCB-B0D5-526F1B233733/9E1721B2-E123-44D1-BBA7-88E713A6A184@1x.png"),
    auto;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:24px;
    color:#333333;
    text-align:left;
    line-height:36px;
    margin-left: 30px;
    display: inline;
}
header li:hover{
    text-decoration:underline;
}
.red {
    color: red;
}

@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}