/* Тут пиши основные стили */

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif
}

code{
    font-family: "Courier New", monospace;
}

@media (max-width: 800px) {
    /* Тут пиши стили для мобилки.
        Стили применятся только когда страничка будет ≤800px шириной
     */
}

