* {
    width: 700px;
    margin: auto;
}

h1 {
    margin: 55px 0 10px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 44px;
}

h2 {
    margin: 55px 0 10px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 34px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 39px;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 33px;
}

code {
    font-family: "Courier New", monospace;
    background-color: #f2f2f2;
}

img {
    margin: 42px 0 38px;
}

p:last-child {
    margin-bottom: 94px;
}

@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}