/* Тут пиши основные стили */
.page {
    margin: 55px 360px 94px 360px;
}

.page h1 {
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
    font-size: 42px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    margin-top: 55px;
    margin-bottom: 10px;
}

.page h2 {
    font-size: 34px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:39px;
    margin-top: 55px;
    margin-bottom: 10px;
}

.page code {
    background-color: #eee;
    border-radius: 3px;
    padding: 0 3px;
    font-family: "Courier New", monospace;
}

.page p {
    font-size: 21px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;
    margin-top: 10px;
    margin-bottom: 43px;
}

@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
    .page {
        margin: 55px 36px 94px 36px;
    }

    img  {
        scale: 0.75;
    }
}