/* Тут пиши основные стили */

header {
    display: flex;
    flex-flow: row wrap;
    width: 700px;
    margin: 28px 360px;
}

header h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 44px;
    margin: 9px 0;
}

header p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 33px;
    margin: 0;
}

article {
    display: flex;
    flex-flow: row wrap;
    width: 700px;
    margin: 0 360px;
}

article div {
    margin: 28px 0;
}

article div h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 34px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 39px;
    margin: 9px 0;
}

article div p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 33px;
    margin: 0;
}

img {
    margin: 9px 37px;
}

article img {
    margin: 43px 0 37px;
}

code {
    font-family: "Courier New", monospace;
    background-color: #F2F2F2;
}

nav {
    border: 1px solid #666666;
    background-color: #F7F7F7;
    height: 70px;
    align-content: center;
    margin: 0;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-start;
    padding: 23px;
}

nav ul li {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 24px;
    color :#333333;
    text-align: left;
    line-height: 36px;
    padding: 15px;
}

nav ul li:hover {
    text-decoration: underline;
}


@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}